## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Husavik,IS,2021-11-02 10:41:34,66.0449,-17.3389,30.11,86,100,21.47,light snow
1,1,Anadyr,RU,2021-11-02 10:41:35,64.7500,177.4833,-12.50,77,20,13.42,few clouds
2,2,Loikaw,MM,2021-11-02 10:41:35,19.6742,97.2094,69.71,89,67,2.39,broken clouds
3,3,Ostrovnoy,RU,2021-11-02 10:41:35,68.0531,39.5131,39.02,95,100,29.42,overcast clouds
4,4,Te Anau,NZ,2021-11-02 10:41:36,-45.4167,167.7167,37.67,93,39,4.00,scattered clouds

In [80]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [81]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Behbahan,IR,2021-11-02 10:41:37,30.5959,50.2417,94.32,12,0,13.35,clear sky
80,80,Opuwo,NaN,2021-11-02 10:42:02,-18.0607,13.8400,93.31,6,5,11.59,clear sky
110,110,Sakakah,SA,2021-11-02 10:42:12,29.9697,40.2064,94.57,16,1,9.86,clear sky
219,219,Kusti,SD,2021-11-02 10:42:48,13.1629,32.6635,102.49,18,95,3.85,overcast clouds
222,222,Nizwa,OM,2021-11-02 10:42:50,22.9333,57.5333,92.23,12,4,1.72,clear sky
224,224,Sindou,BF,2021-11-02 10:42:50,10.6667,-5.1667,90.54,45,68,3.20,broken clouds
300,300,Qeshm,IR,2021-11-02 10:43:18,26.9581,56.2719,91.27,46,21,6.33,few clouds
303,303,Quelimane,MZ,2021-11-02 10:43:19,-17.8786,36.8883,98.55,47,20,9.22,few clouds
334,334,Buraydah,SA,2021-11-02 10:43:29,26.3260,43.9750,90.05,13,68,3.38,broken clouds
387,387,Abu Dhabi,AE,2021-11-02 10:42:26,24.4667,54.3667,91.51,62,0,9.22,clear sky

In [82]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                20
City                   20
Country                19
Date                   20
Lat                    20
Lng                    20
Max Temp               20
Humidity               20
Cloudiness             20
Wind Speed             20
Current Description    20
dtype: int64

In [83]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Behbahan,IR,2021-11-02 10:41:37,30.5959,50.2417,94.32,12,0,13.35,clear sky
110,110,Sakakah,SA,2021-11-02 10:42:12,29.9697,40.2064,94.57,16,1,9.86,clear sky
219,219,Kusti,SD,2021-11-02 10:42:48,13.1629,32.6635,102.49,18,95,3.85,overcast clouds
222,222,Nizwa,OM,2021-11-02 10:42:50,22.9333,57.5333,92.23,12,4,1.72,clear sky
224,224,Sindou,BF,2021-11-02 10:42:50,10.6667,-5.1667,90.54,45,68,3.20,broken clouds
300,300,Qeshm,IR,2021-11-02 10:43:18,26.9581,56.2719,91.27,46,21,6.33,few clouds
303,303,Quelimane,MZ,2021-11-02 10:43:19,-17.8786,36.8883,98.55,47,20,9.22,few clouds
334,334,Buraydah,SA,2021-11-02 10:43:29,26.3260,43.9750,90.05,13,68,3.38,broken clouds
387,387,Abu Dhabi,AE,2021-11-02 10:42:26,24.4667,54.3667,91.51,62,0,9.22,clear sky
390,390,Siyabuswa,ZA,2021-11-02 10:43:49,-25.1132,29.0445,99.18,12,1,12.10,clear sky
400,400,Wawa,NG,2021-11-02 10:43:53,9.9022,4.4192,90.63,39,100,2.62,overcast clouds
414,414,Tessalit,ML,2021-11-02 10:43:58,20.1986,1.0114,95.25,11,11,16.06,few clouds
454,454,Sokoto,NG,2021-11-02 10:44:12,13.0609,5.2390,96.30,12,75,11.30,broken clouds
464,464,Kaduqli,SD,2021-11-02 10:44:16,11.0167,29.7167,99.43,22,36,3.47,scattered clouds
493,493,Birao,CF,2021-11-02 10:44:27,10.2849,22.7882,94.73,31,92,3.98,overcast clouds
501,501,Aswan,EG,2021-11-02 10:44:29,24.0934,32.9070,92.50,22,0,17.27,clear sky
529,529,Jizan,SA,2021-11-02 10:44:39,17.3333,42.6667,94.14,15,30,7.20,scattered clouds
540,540,Dehloran,IR,2021-11-02 10:44:43,32.6941,47.2679,90.36,14,0,7.92,clear sky
562,562,Tsiroanomandidy,MG,2021-11-02 10:44:50,-18.7667,46.0333,94.21,18,20,7.40,few clouds

In [84]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Behbahan,IR,94.32,clear sky,30.5959,50.2417,
110,Sakakah,SA,94.57,clear sky,29.9697,40.2064,
219,Kusti,SD,102.49,overcast clouds,13.1629,32.6635,
222,Nizwa,OM,92.23,clear sky,22.9333,57.5333,
224,Sindou,BF,90.54,broken clouds,10.6667,-5.1667,
300,Qeshm,IR,91.27,few clouds,26.9581,56.2719,
303,Quelimane,MZ,98.55,few clouds,-17.8786,36.8883,
334,Buraydah,SA,90.05,broken clouds,26.3260,43.9750,
387,Abu Dhabi,AE,91.51,clear sky,24.4667,54.3667,
390,Siyabuswa,ZA,99.18,clear sky,-25.1132,29.0445,

In [89]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
     lat = row["Lat"]
     lng = row["Lng"]
     params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
     hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
     try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
     except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [90]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Behbahan,IR,94.32,clear sky,30.5959,50.2417,شهرکدامداران ماهشهر
110,Sakakah,SA,94.57,clear sky,29.9697,40.2064,Fakhamat Al Orjoana Apartment
219,Kusti,SD,102.49,overcast clouds,13.1629,32.6635,فندق الكوباري - Kobari Hotel
222,Nizwa,OM,92.23,clear sky,22.9333,57.5333,Orient Apartments
224,Sindou,BF,90.54,broken clouds,10.6667,-5.1667,LERABA HOTEL

In [91]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [92]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [93]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))